//CONTACTS
section#contacts.contacts.container
  form.contacts-form(method='get' action='#')
    h2.contacts-title(data-i18n= 'contact-me') Contact me
    .contacts-item
      label.contacts-sronly(for="email") email
      input#email.contacts-field(data-i18n= 'email' type='email' placeholder='E-mail')
    .contacts-item
      label.contacts-sronly(for="tel") email
      input#tel.contacts-field(data-i18n= 'phone' type='tel' placeholder='Phone')
    .contacts-item
      label.contacts-sronly(for="message") message
      textarea#message.contacts-field(data-i18n= 'message' name='message' placeholder='Message')
    .contacts-button
      button.contacts-btn#button-tolight(type='submit' data-i18n= 'send-message') Send message