//CONTACTS
section.contacts.container
  #contacts.contacts-wrapper
    form.form(method='get' action='#')
      h2.contacts-title Contact me
      .form-input
        input.form-field(type='email' placeholder='E-mail')
      .form-input
        input.form-field(type='tel' placeholder='Phone')
      .form-input
        textarea.form-field(name='message' cols='1' rows='2' placeholder='Send message')
      .form-button
        button.form-btn(type='submit') Send message