//FOOTER
footer.footer.container
  .footer-wrapper
    .footer-content
      p.footer__info &copy;
      p.footer__info 2022
      a.footer__link(href='https://github.com/inalitvinka') inalitvinka
    .footer-nav
      ul.footer-list
        li.footer-item
          a.footer-link(href='https://www.instagram.com/')
            img.footer-icon(src='assets/images/svg/f_inst.svg' alt='img')
        li.footer-item
          a.footer-link(href='https://www.facebook.com/')
            img.footer-icon(src='assets/images/svg/f_fb.svg' alt='img')
        li.footer-item
          a.footer-link(href='https://twitter.com/')
            img.footer-icon(src='assets/images/svg/f_tw.svg' alt='img')
        li.footer-item
          a.footer-link(href='https://www.pinterest.com/')
            img.footer-icon(src='assets/images/svg/f_pinterest.svg' alt='img')