// HEADER
header.header.container
  a.header-logo(href="#") 
    img(src="assets/images/svg/logo.svg", alt="Portfolio")
  nav.nav
    ul.nav-list
      li.nav-item
        a.nav-link(href='#skills') Skills
      li.nav-item
        a.nav-link(href='#portfolio') Portfolio
      li.nav-item
        a.nav-link(href='#video') Video
      li.nav-item
        a.nav-link(href='#price') Price
      li.nav-item
        a.nav-link(href='#contacts') Contacts
      li.nav-item.nav-control
        p.nav-control__item.nav-control__gold en
        p.nav-control__item /
        p.nav-control__item ru
      

      
      
        
        
        
        