//HERO
section.hero.container
  .hero-name
    h1.hero-title Alexa Rise
    p.hero-text Save sincere emotions, romantic feelings and happy moments of life together with professional<br>photographer Alexa Rise
    .hero-button
      button.hero-btn(type='submit') Hire me