//PORTFOLIO
- var i = 0;
- var cardNum = 6;
mixin button(title, value, val, active)
  button.portfolio-btn(data-season= value, data-i18n= value, class= val, class= active)= title

section.portfolio.container
  h2#portfolio.portfolio-title(data-i18n= 'portfolio') <span>Portfolio</span>
  .portfolio-buttons
    +button('Winter', 'winter')
    +button('Spring', 'spring')
    +button('Summer', 'summer', 'portfolio-active')
    +button('Autumn', 'autumn')  
  .portfolio-gallery
    while i < cardNum
      .img.portfolio-img
        img.portfolio-pic(src=`assets/images/summer/${++i}.jpg` alt='portfolio-img')

    //- .img
    //-   img.portfolio-pic(src='assets/images/autumn/1.jpg' alt='portfolio-img')
    //- .img
    //-   img.portfolio-pic(src='assets/images/autumn/2.jpg' alt='portfolio-img')
    //- .img
    //-   img.portfolio-pic(src='assets/images/autumn/3.jpg' alt='portfolio-img')
    //- .img
    //-   img.portfolio-pic(src='assets/images/autumn/4.jpg' alt='portfolio-img')
    //- .img
    //-   img.portfolio-pic(src='assets/images/autumn/5.jpg' alt='portfolio-img')
    //- .img
    //-   img.portfolio-pic(src='assets/images/autumn/6.jpg' alt='portfolio-img')