//PORTFOLIO
mixin button(title, value, val)
  button.portfolio-btn(data-season= value, class= val)= title

section.portfolio.container
  h2#portfolio.portfolio-title <span>Portfolio</span>
  .portfolio-buttons
    +button('Winter', 'winter')
    +button('Spring', 'spring')
    +button('Summer', 'summer')
    +button('Autumn', 'autumn')  
  .portfolio-gallery
    .img
      img.portfolio-pic(src='assets/images/autumn/1.jpg' alt='portfolio-img')
    .img-one
      img.portfolio-pic(src='assets/images/autumn/2.jpg' alt='portfolio-img')
    .img-two
      img.portfolio-pic(src='assets/images/autumn/3.jpg' alt='portfolio-img')
    .img-three
      img.portfolio-pic(src='assets/images/autumn/4.jpg' alt='portfolio-img')
    .img-four
      img.portfolio-pic(src='assets/images/autumn/5.jpg' alt='portfolio-img')
    .img-five
      img.portfolio-pic(src='assets/images/autumn/6.jpg' alt='portfolio-img')

      //'portfolio-btn__active'