//VIDEO
section.video.container
  h2#video.video-title <span>Video</span>
  .video-player
    img.video-play(src="assets/images/video-player.jpg", alt="video-player")
    .video-item
      img.video-pic(src='assets/images/play_video.svg' alt='video') 