@import "../util/var";
@import "../util/mixins";


//CONTACTS
.contacts {
    width: 100%;
    // background-image: url('../images/contacts-light.jpg');
    background-image: url('../images/contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    display: flex;
    justify-content: flex-end;
    padding: 6rem 2rem;
    color: $c-gold; 
    &-form {
        max-width: 45rem;
        width: 100%;
        // padding: 6rem 0 19.5rem 97rem;
        :nth-child(4) {
            margin-bottom: 1rem;
        }
    }
    &-title {
        margin-bottom: 4rem;
        font-family: Merriweather;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 200%; 
        color: inherit;
        // color: $c-gold;   
    }
    &-item {
        padding-right: 2rem;
    }
    &-field {
        max-width: 45rem;
        width: 100%;
        padding: .5rem 0 .3rem 2rem;
        margin-bottom: 2rem;
        background-color: rgba(0, 0, 0, 0.50);
        border: solid .2rem $c-gold;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
        color: inherit;   
        // color: $c-gold;
        &::placeholder {
            font-size: 2rem;
            font-style: normal;
            font-weight: normal;
            line-height: 200%;
            color: inherit;
            // color: $c-gold;
        } 
        &:last-child{
            padding-bottom: .4rem;
        }       
    }
    &-btn {
        @include btnStyles;
        color: $c-dark;
        border: none;
        background: $c-gold;    
    }
    &-sronly {
        position: absolute;
        width: .1rem;
        height: .1rem;
        padding: 0;
        border: 0;
        overflow: hidden;
        white-space: nowrap;
    }
    &-light {
        background-image: url('../images/contacts-light.jpg');
        color: inherit;
    }
    &-fieldlight {
        background: rgba(255, 255, 255, .5);
    }
    &-btnlight {
        background: $c-white;
        color: $c-dark;
        &:hover {
            color: $c-gold;
            background: rgba(0, 0, 0, .6);
            transition: all .4s ease;
        }
    }
}

//  ADAPTIVE 
@media screen and (max-width: 768px) {
    .contacts {
        justify-content: center;
        &-form {
            text-align: center;
        }
    }
} 
@media screen and (max-width: 460px) {
    .contacts {
        &-title {
            font-size: 3rem;
        }
        &-field {
            font-size: 1.8rem;
            &::placeholder {
                font-size: 1.8rem;
            }    
        }
        &-btn {
            font-size: 1.8rem;  
        }
    }
}