@import "../util/var";
@import "../util/mixins";


//HERO
.hero {
    padding: 16rem 0 33rem 8rem;
    &-title {
        margin-bottom: 1rem;
        font-family: Merriweather;
        font-size: 6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 200%;
        color: inherit;
        // color: $c-white;
    }
    &-text {
        max-width: 47rem;
        width: 100%;
        margin-bottom: 2.5rem;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
        color: inherit;
        // color: $c-white;
    }
    &-btn {
        @include btnStyles;
        color: $c-dark;
        border: none;
        background: $c-gold;
        cursor: pointer;
    }                
}
// ADAPTIVE
@media screen and (max-width: 970px) {
    .hero {
        padding-top: 10rem;
        &-text {
            margin-bottom: 6rem;
        }
    }
}
@media screen and (max-width: 920px) {
    .hero {
        padding: 7.8rem 0 26.6rem 6rem;
        &-title {
            margin-bottom: 2rem;
            font-size: 3.2rem;
            font-weight: 400;
        }
        &-text {
            margin-bottom: 6rem;
            max-width: 39rem;
            line-height: normal;
        }
    }
}
@media screen and (max-width: 768px) {
    .hero {
        padding-bottom: 15.9rem;
    }
}
@media screen and (max-width: 733px) {
    .hero {
        padding: 7.8rem 0 15.9rem 0;
        &-text {
            max-width: 35rem;
        }
    }
}
@media screen and (max-width: 460px) {
    .hero{
        &-title {
            font-size: 3rem;
        }
        &-text {
            font-size: 1.9rem;
        }
        &-btn {
            font-size: 1.8rem;
        }    
    }
}