@import "../util/var";
@import "../util/mixins";


//PORTFOLIO
.portfolio {
    padding: 10rem 2rem 0;
    &-title {
        @include titleStyles;
    }
    &-buttons {
        margin-bottom: 6rem;
        padding: 0 4rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem;
    }
    &-btn {
        @include btnStyles;
        color: $c-gold;
        border: .2rem solid $c-gold;
        background: transparent;
    }
    &-active {
        background: $c-gold;
        color: inherit;
    }
    // &-btnlight {
    //     &:hover {
    //         color: $c-dark; 
    //     }
    // }
    // &-light__active {
    //     &:hover {
    //         color: $c-white; 
    //     }
    // }
    &-gallery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5rem;
        // overflow: hidden;

    }
    &-img,
    &-pic {
        max-width: 45rem;
        // width: 30rem;
        // width: 100%;
    }
}
.portfolo-light {
    background: $c-gold;
    color: $c-dark;
    border: none;
    &:hover {
        color: $c-gold;
        background: rgba(0, 0, 0, .8);
        transition: all .4s ease;
    }
}
.portfolio-light__active {
    background: rgba(0, 0, 0, .8);
    color: $c-gold;
    &:hover {
        color: $c-white;
        transition: all .4s ease;
    }
}

// ADAPTIVE
@media screen and (max-width: 768px) {
    .portfolio {
        padding: 9.3rem 2rem 0;
        &-title {
            margin-bottom: 5rem;
            font-size: 3.2rem;  
        }
    }
}
@media screen and (max-width: 460px) {
    .portfolio {
        &-title {
            font-size: 3rem;
        }
        padding: 7rem 2rem 0;
        // padding: 6rem 2rem .8rem;
        &-btn {
            font-size: 1.8rem;
        }   
    }
}