@import "../util/var";
@import "../util/mixins";


//PRICE
.price {
    // width: 140rem;
    width: 100%;
    padding: 10rem 2rem;
    &-title {
        @include titleStyles;
    }
    &-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    &-card {
        max-width: 45rem;
        width: 100%;
        padding: 4.3rem;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        border: .3rem solid $c-gold;
        // &:nth-child(1) &__text {
        //     padding-right: 9.033rem;
        //     padding-left: 9.067rem;
        // }
        // &:nth-child(2) &__text {
        //     // padding: 0 9rem;
        //     padding-right: 9.198rem;
        //     padding-left: 9.302rem;
        // }
        // &:nth-child(3) &__text {
        //     padding-right: 7.064rem;
        //     padding-left: 7.236rem;
        // }
        &__title {
            margin-bottom: 2rem;
            font-family: Merriweather;
            font-size: 2.8rem;
            font-style: normal;
            font-weight: 700;
            line-height: 200%;
            color: inherit;
            // color: $c-white;
            text-align: center;
            text-transform: capitalize;   
        }
        &__subtitle {
            margin-bottom: 2rem;
            font-family: Merriweather;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 200%;
            color: $c-gold;
            text-align: center;   
        }
        &__text {
            width: 36.4rem;
            // padding: 0 9rem;
            margin-bottom: 4rem;
            font-family: Inter;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 200%;
            color: inherit;
            // color: $c-white;
            text-align: center;
              
        }
        &__button {
            text-align: center;
        }
        &__btn {
            @include btnStyles;
            color: inherit;
            border: none;
            background: $c-gold;    
        }
    }
}
//  ADAPTIVE 
@media screen and (max-width: 768px) {
    .price {
        &-title {
            font-size: 3.2rem;
        }
    }
}