@import "../util/var";
@import "../util/mixins";

// SKILLS

.skills {
    // width: 100%;
    padding: 10rem 2rem 0;
    &-title {
        @include titleStyles;
    }
    &-cards {
        display: flex;
        justify-content: center;
        gap: 4rem;
        flex-wrap: wrap;
    }
    &-card {
        max-width: 32rem;
        width: 100%;
        padding: 0 2rem .8rem;
        // border: solid .2rem $c-white;

        &__img {
            margin-bottom: 5rem;
            text-align: center;  
        }
        &__pic {
            max-width: 6.2rem;
        }
        &__pic2 {
            max-width: 6rem;
        }
        &__pic3 {
            max-width: 6.6rem;
        }
        &__pic4 {
            max-width: 3.2rem;
        }

        &__title {
            margin-bottom: 2rem;
            font-family: Inter;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 200%;
            color: inherit; 
            // color: $c-white;
            text-align: center;   
        }
        &__text {
            font-family: Inter;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 200%;
            color: inherit;
            // color: $c-white;
            text-align: center;
        }
    }
}
// ADAPTIVE
@media screen and (max-width: 768px) {
    .skills {
        padding: 8rem 2rem 1.3rem;
        &-title {
            margin-bottom: 3.6rem;
            font-size: 3.2rem;
        }
        &-cards {
            column-gap: 4.4rem;
            row-gap: 3.6rem;
        }
        &-card {
            &__img {
                margin-bottom: 3rem;
            }
            &__text {
                line-height: normal;
            }
        }
    }
}