@import "../util/var";
@import "../util/mixins";


//VIDEO
.video {
    width: 100%;
    padding: 10rem 2rem 0;
    &-title {
        @include titleStyles;
    }
    &-player {
        position: relative;
        
    }
    &-screen {
        max-width: 144rem;
        width: 100%;
    }
    &-poster {
        max-width: 144rem;
        width: 100%;
    }
    &-item {
        width: 13rem;
        position: absolute;
        top: 41%;
        left: 45.5%;
        &:hover {
            @include hoverSVG;
        }
    }
    &-button {
        background: inherit;
    }
}
//  ADAPTIVE 
@media screen and (max-width: 768px) {
    .video {
        padding: 10rem 0 0;
        &-title {
            font-size: 3.2rem;
        }
        &-screen {
            object-fit: fill;
        }
        &-item {
            width: 6.5rem;

        }
    }
}