@import "../util/var";
@import "../util/mixins";


//VIDEO
.video {
    width: 100%;
    padding: 10rem 2rem 0;
    &-title {
        @include titleStyles;
    }
    &-player {
        position: relative;
        // border: solid .15rem $c-gold;
        // padding: .5rem;
    }
    &-border {
        border: solid .15rem $c-gold;
    }
    &-screen {
        max-width: 144rem;
        width: 100%;
    }
    &-poster {
        position: absolute;
        z-index: 2;
        max-width: 144rem;
        width: 100%;
        // object-fit: contain;
    }
    // &-pic {
    //     max-width: 144rem;
    //     width: 100%;
    //     object-fit: cover;
    // }
    &-item {
        width: 13rem;
        position: absolute;
        z-index: 3;
        top: 41%;
        left: 45.5%;
        &:hover {
            @include hoverSVG;
        }
    }
    &-button {
        background: inherit;
    }
    &-controls {
        padding: .5rem 3rem;
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }
    &-muted__item:hover,
    &-pause__item:hover,
    &-play__item:hover,
    &-item:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
        transition: all .4s ease;
        cursor: pointer;
    }
    &-muted,
    &-play,
    &-pause {
        background: inherit;
    }
    &-hide {
        display: none;
    }
    &-volume {
        max-width: 20rem;
        width: 100%;
        height: 1.7rem;
        accent-color: $c-gold;
    }
    &-time {
        max-width: 10rem;
        width: 100%;
        font-size: 1rem;
    }
    &-progressbar {
        max-width: 110rem;
        width: 80%;
        display: flex;
        align-items: center;
    }
    &-volume:hover,
    &-progressbar:hover {
        cursor: pointer;
    }
    &-progress {
        position: relative;
        max-width: 100rem;
        width: 100%;
        height: 1.7rem;
        accent-color: $c-gold;
        // background: red;
        // filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    }
    &-progress__item {
        position: absolute;
        z-index: 1;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 2rem;
        background: $c-gold;
    }
}
//  ADAPTIVE 
@media screen and (max-width: 768px) {
    .video {
        padding: 10rem 0 0;
        &-title {
            font-size: 3.2rem;
        }
        &-screen {
            object-fit: fill;
        }
        &-item {
            width: 6.5rem;
        }
        &-controls {
            padding: .5rem 3rem;
            gap: 1rem;
        }
    }
}
@media screen and (max-width: 700px) {
    .video {
        &-time {
            max-width: 8rem;
            width: 100%;
            font-size: .7rem;
        }
    }
}
@media screen and (max-width: 460px) {
    .video {
        padding: 7rem 0 0;
        &-title {
            font-size: 3rem;
        }
        &-item {
            width: 5.5rem;
        }
        
    }
}